.btn {
  color: whitesmoke !important;
  text-transform: none !important;
  font-size: medium;
  font-weight: 350;
}

.btn-flat {
  font-size: medium;
  text-transform: none !important;
  font-weight: 350;
}

.btn-flat:hover {
  color: rgb(36, 58, 43);
}

.btn:hover {
  color: whitesmoke !important;
}

a {
  text-decoration: none;
  color: rgb(35, 22, 22);
}

.scyan {
  color: #006064 !important;
}

.input-field input:focus + label,
.input-field textarea:focus + label {
  color: #006064 !important;
}

.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #006064 !important;
  box-shadow: 0 1px 0 0 #006064 !important;
}
